{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Cool Clear{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        .hover-effect {
            transition: transform 0.3s ease; /* Плавный переход для увеличения */
        }

        .hover-effect:hover {
            transform: scale(1.05); /* Увеличение карточки при наведении */
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

<header>
    {% include 'header_menu.html' %}
</header>

<main class="flex-grow-1 mt-4">
  <div class="container mt-5">
      {% block content %}{% endblock %}
  </div>
  <button id="scrollToTop" class="btn btn-outline-warning shadow hover-effect" style="display: none; position: fixed; bottom: 30px; right: 5px; z-index: 1000;
    width: 30px; height: 30px; border-radius: 50%;
    border: none; padding: 0; display: flex; align-items: center; justify-content: center;">
    <i class="bi bi-arrow-up-circle" style="color: black; font-size: 30px; line-height: 1;"></i>
  </button>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container border-top">
      <a href="https://github.com/Nafanya-dev/python-project-52">GitHub</a>
  </div>
</footer>
{% bootstrap_javascript %}

<script>
    // Функция для отображения или скрытия кнопки "Вернуться наверх"
    window.onscroll = function() {
        const scrollToTopButton = document.getElementById("scrollToTop");
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            scrollToTopButton.style.display = "flex"; // Показываем кнопку
        } else {
            scrollToTopButton.style.display = "none"; // Скрываем кнопку
        }
    };

    // Функция для прокрутки страницы вверх при нажатии на кнопку
    document.getElementById("scrollToTop").onclick = function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    };
</script>

</body>
</html>
